html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

  color: #333;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%,rgba(148, 187, 233, 1) 100%);
}
header {
  background: rgb(20, 24, 46);
  background: radial-gradient(circle, rgb(9, 15, 41) 0%, rgb(34, 16, 114) 100%);
  color: white;
  padding: 20px;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color:white;
}
section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  line-height: 2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
table,
th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}
th {
  background: rgb(20, 24, 46);
  background: radial-gradient(circle, rgb(9, 15, 41) 0%, rgb(34, 16, 114) 100%);
  color: white;
}
form {
  text-align: justify center;
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}
input[type="text"],
input[type="email"],
textarea {
  display: flex !important;
  width: %;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 5px; 
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
input[type="submit"] {
  background: linear-gradient(90deg, #333 0%, #555 100%);
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
}
input[type="submit"]:hover {
  background: linear-gradient(90deg, #555 0%, #777 100%);
}
footer {
  text-align: center;
  padding: 10px;
  background: rgb(20, 24, 46);
  background: radial-gradient(circle, rgb(9, 15, 41) 0%, rgb(34, 16, 114) 100%);
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
